
.Navbar{
display:flex;
/* background: #7190a5 ; */
background: rgba(0, 0, 0, 0.218);

height: 65px;
justify-content: space-between;
padding: 0.2rem calc((100vw - 1000px) / 2);
z-index: 12;
}

a{
    color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;}
  a.active {
    color: white
    ;
  }


button{
  background:#7abc95;
  width:120px;
}
#root,.pageContainer {
  background-color: rgb(133, 160, 137);
  height:100vh;
  min-height:100%;
  max-height:100%;

background-repeat:repeat-x;

background-image: url("/src/img/repeating\ ballons.jpeg");

background-position: 
  0 20%,
  0 100%,
  0 50%,
  0 100%,
  0 0;
background-size: cover;
  /* 2500px,
  800px,
  500px 200px,
  1000px,
  400px 260px; */
animation: 50s para infinite linear;
background-size: cover;
overflow: scroll;

}
@keyframes para {
  100% {
    background-position: 
      -5000px 20%,
      -800px 95%,
      500px 50%,
      1000px 100%,
      400px 0;
    }
  }

