
.Navbar{
display:grid;
grid-template-columns: 3fr 1fr 1fr;
grid-row:1;
/* background: #7190a5 ; */
background: rgba(236, 226, 226, 0.218);
height: 55px;
justify-content: space-between;
z-index: 12;
color: #ff4411; 
font-size: 24px; 
font-family: monospace ; 
}
.homepage {
  grid-column: 1;
  align-items: center;

}
.myspots{  
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}
.findaspot{  
  grid-column: 3;
  grid-row:1/1;     display: flex;
  justify-content: flex-end;
  align-items: flex-end;


}
a{
    color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;}
  a.active {
    color: white
    ;
  }



  #root,.pageContainer {
  margin: 0%;
  margin-right: 0%;
  padding-right:0%;
  background-color: rgb(243, 248, 244);
  height:100%;
  min-height:100%;
  max-height:100%;
  background-repeat:repeat-x;
  background-image: url("/src/img/repeating\ ballons.jpeg");

  background-position: 
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
  background-size: cover;

  animation: 50s para infinite linear;
  background-size: cover;
  overflow: auto;
}
@keyframes para {
  100% {
    background-position: 
      -5000px 20%,
      -800px 95%,
      500px 50%,
      1000px 100%,
      400px 0;
    }
  }

