.chatbot {
  width: 550px;
  min-width: 350px;
  height: 380px;
  background-color: hsl(143, 19%, 86%);
  padding: 25px;
  margin: 20px auto;
  border-radius: 5px;
  }
  
  .chatbot-header {
    text-align: center;
    font-size: 24px;
      }  
  .chatbot-body{
    align-items:center;
 
  }
  .chatbot-form {
    width:100%;
    text-align:center;
  }
  
  /* CSS */
  .chatbot-form button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .chatbot-form button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  .chatbot-form textarea{
    margin: 20px auto;
    width: 90%;
    color: #ddd;
    outline: none;
    border: solid 5px #ddd;
    border-radius: 15px;
    padding-left:5px;
    font-size: 1.1rem;
    font-weight: 700;
  }
  .chatbot-form textarea:focus{
    /* transform: scalex(1.1); */
    background-color: rgb(147, 164, 147);

  }

  .chatbot-response {
    width: 100%;
    height: 150px;
    background:#f6f2f2;
    color:#a35a5a;
    overflow-y: auto;
    border-radius: 15px;
    display:grid;
    grid-template-columns: 1fr 1fr;

  }
.userInput {
  grid-column: 2/ 2;

  text-align: right;

}
.botRsp{
  grid-column: 1/2;

  text-align: left;
}