
.myspot_container {
display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: space-around;
  flex-wrap: wrap;
}

.eachSpot {
    /* background-color: #aaeac8; */
    box-shadow: inset -9px -5px 7px rgb(190 190 209 / 32%);
    min-height: 200px;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    border-radius: 50%;
  }
  .eachSpot:nth-child(even) {
    background-color: #efcef3;
  
  }
  /* .eachSpot:nth-child(even) {
    background-color: #aad8a7;
  
  } */
  .eachSpot:nth-child(odd) {
    background-color: #a7cad8;
  }
  .spotControl {
    color:rgb(62, 95, 213);
    display:flex;
    justify-content: space-around;
  }
  .create_newspot{
    background-color: #efcef3;
    width: 550px;
    min-width: 350px;
    height: 380px;
    background: rgba(0, 0, 0, 0.218);
    padding: 25px;
    margin: 20px auto;
    border-radius: 15px;
  }

  .updateInput{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;  }

  .update_spot{
    
      /* position: fixed; */
      left: 25%;
      top: 30%;
  
      width: 50%;
      height:10%;
      /* border: 1px solid #011627; */
      /* border-radius: 1em; */
      /* background-color: #FDFFFC; */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
  
      color: #011627;
  }
  