
.myspot_container {
display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: space-around;
  flex-wrap: wrap;
}

.eachSpot {
    min-height: 200px;
    min-width: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    flex-direction: column;
    border-radius: 50%;


    
   
  }
  .eachSpot:nth-child(n) {
    background-color: #95D1BB;
  
  }
  .eachSpot:nth-child(2n) {
    background-color: #95C9D1;
  
  }
  .eachSpot:nth-child(3n) {
    background-color: #f3caf0;
  }
  .spotControl {
    color:rgb(1, 5, 18);
    display:flex;
    justify-content:center;
  }


  .create_newspot{
    background-color: #efcef3;
    width: 450px;
    min-width: 350px;
    height: 380px;
    background: rgba(0, 0, 0, 0.218);
    padding: 25px;
    margin: 20px auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  }

.create_newspot input,.new-board-form__form-submit-btn {
  /* -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6; */
	/* -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6; */
	/* box-shadow: inset 0px 1px 0px 0px #45D6D6; */
	background-color: #6baeae;
	border: 1px solid #27A0A0;
display:flex;  align-items: center;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}


  .updateInput{
    /* position: fixed;  */
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;  }

  .update_spot{
    
      /* position: fixed; */
      /* left: 25%;
      top: 30%;
      width: 50%; */
      /* border: 1px solid #011627; */
      /* border-radius: 1em; */
      /* background-color: #FDFFFC; */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      color: #011627;
  }
  